
	<div class="flex">
    <div class="main ">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" >
					<input type="email" name="email" placeholder="Email" >
					<input type="password" name="pswd" placeholder="Password" >
					<a href="/home" style="color: inherit; text-decoration: none;"><button>Sign up</button></a>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true" style="text-decoration: none;"> Login</label>
					<input type="email" name="email" placeholder="Email" >
					<input type="password" name="pswd" placeholder="Password" >
					<a href="/home" ><button><a routerLink="/home" style="color: inherit; text-decoration: none; width: 60%;">Login</a></button></a>
				</form>
			</div>
	</div>
</div>